.DropDown {
  /* position: absolute;
  overflow: visible; */
  /* width: 280px;
  height: 86px; */
  /* left: 98px;
  top: 0px; */
  border: solid 2px rgb(184, 182, 182);
  border-radius: 5px;
}

/* .dropdown {
  position: relative;
  display: inline-block;
  width: 100%;

  border: solid 2px rgb(184, 182, 182);
  border-radius: 5px;
  border-style: none;
} */

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  border: solid 2px rgb(184, 182, 182);
  border-radius: 5px;
}

/* .dropdown:hover .dropdown-content {
  display: block;
} */
.category_area {
  display: flex;
}
.category_input {
  width: 100%;
}
.boder_search {
  position: relative;
  width: 100%;
  height: 32px;
  border-radius: 5px;
  border: #ced4da solid 1px;
  line-height: 1.5;
  cursor: pointer;
  padding: 5px;
}
.angledown {
  position: absolute;
  right: 6px;
  top: 6px;
  font-size: 20px;
}
.check {
  margin-right: 10px;
  color: #dc3545;
  cursor: pointer;
}
.times {
  margin-right: 15px;
  cursor: pointer;
}
.list_below ul li {
  padding: 3px 0px;
  background: rgb(240, 237, 233); 
  text-decoration: none;
  list-style: none;
  padding-left: 5px;
}
.list_below ul li:hover {
  background: #dc3545;
  width:100%;
}
.list_below {
  position: relative;
  width: 100%;
  z-index: 1;
}
#list {
  padding-left: 0px;
  position: absolute;
  border: solid 2px rgb(226, 217, 217);
  border-radius: 5px;
  width: 100%;

  
}
.add_user {
  display: flex;
  justify-content: space-between;
  cursor: text;
}

.add_cate {
  display: flex;
  justify-content: space-between;
  cursor: text;
}
#end_li:hover {
  background: rgb(240, 237, 233);
}
.left input {
  text-decoration: none;
  width: 150px;
  border: black solid 1px;
}

.right input {
  text-decoration: none;
  width: 30px;
  border: black solid 1px;
}

.category_area {
}

#error {
  display: block;
  color: red;
  margin: 5px 0 0 0;
}

#link {
  display: block;
  color: red;
  margin: 5px 0 0 0;
}

#input_add {
  padding-left: 5px;
}

.datepicker{
  position: relative;
  width: 100%;
}

.icon-date{
  position: absolute;
  top:x 50%;
  transform: translateY(-50%);
  right: 15px;
  cursor: pointer;
  color: rgb(88, 87, 87);
}

.category_item {
  display: flex;
  justify-content: space-between;
}

.name_area{
  display: inline-block;
  padding: 0px 8px;
  width: 80%;
  cursor: pointer;
}

.textarea-input {
  font-size: 1.4rem;
}