#drop-show-asset {
    width: 220px;
}

#assignment-date-picker {
    width: 160px;
}

#modal-content-asset {
    width: 660px;
}

.table-wrapper {
    display: inline-block;
    width: 100%;
    max-height: 140px;
    overflow:auto;
}