#drop-show-assignment {
  width: 220px;
}
#undo-assignment {
  color: #455eeb;
}
#assignment-date-picker {
  background-color: #f5faff;
}

#toast-error-assignment {
  padding-top: 80px !important;
}

.assigned-date{
  display: flex;
  position: relative;
}

#date-icon {
  position: absolute;
  top: 20%;
  right: 6%;
}
