.changepass-data {
    display: flex;
    margin-top: 1rem;
    position: relative;
}
.changpass-label {
    margin-top: 0.6em;
    /* white-space: nowrap; */
    margin-right: 2rem;
    width: 100px;
}
.changepass-input {
    width: 200px;
    /* padding-right: 2.6em; */
}
.changepass-btn {
    display: flex;
    margin-top: 1rem;
    padding-left: 200px;
}
.show-password {
    position: absolute;
    top: 15%;
    right: 10%;
}
.show-password:hover {
    cursor: pointer;
}
.close-btn {
    display: flex;
    margin-top: 1rem;
    padding-left: 19rem;
}
