.changepass-data {
    display: flex;
    margin-top: 1rem;
    position: relative;
}
.changpass-label {
    margin-top: 0.6em;
    white-space: nowrap;
    margin-right: 2rem;
    width: 6rem;
}
.changepass-input {
    width: 16rem;
    padding-right: 2.6em;
}
.changepass-btn {
    display: flex;
    margin-top: 1rem;
    padding-left: 15rem;
}
.show-password {
    position: absolute;
    top: 15%;
    right: 13%;
}
.show-password:hover {
    cursor: pointer;
}
.close-btn {
    display: flex;
    margin-top: 1rem;
    padding-left: 19rem;
}
