/* .datepicker{
    position: relative;
    width: 100%;
}

.icon-date{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    cursor: pointer;
    color: rgb(88, 87, 87);
} */

/* .form-size-14 input {
    font-size: 1.4rem;
    width: 250px;
} */